.forma {
  display: flex;
  gap: 32px;
  margin-bottom: 26px;
  @media screen and (max-width: 376px) {
    gap: 18px;
  }
}
.headers,
.input-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.input-fields {
  p {
    padding: 12px 0 10px 7px;
    font-size: 14px;
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }
}
.headers-label {
  display: flex;
  align-items: center;
  width: 136px;
  height: 40px;
  text-align: start;
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: $default-color;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
  @media screen and (max-width: 560px) {
    width: 65px;
  }
}

.forma__input,
.forma__select {
  text-transform: none;
  font-size: 14px;
  padding: 0 6px;
  margin: 0;
  width: 408px;
  height: 40px;
  border: 1px solid $grey-color;
  border-radius: 4px;
  position: relative;
  &::-webkit-input-placeholder {
    font-size: 14px;
    color: $grey-color;
  }
  &:focus {
    border: 1px solid $blue-color;
    caret-color: $blue-color;
  }
  @media screen and (max-width: 720px) {
    width: 288px;
    font-size: 12px;
  }
  @media screen and (max-width: 560px) {
    width: 228px;
  }
}

.forma__select {
  font-size: 12px;
}

.error::-webkit-input-placeholder {
  color: #eb5757;
}

.forma-errors {
  position: absolute;
  color: $error-color;
  font-size: 16px;
  font-weight: 400;
  right: 64px;
  @media screen and (max-width: 720px) {
    right: 50px;
  }
  @media screen and (max-width: 560px) {
    right: 22px;
  }
  &.errors__name {
    top: 145px;
    @media screen and (max-width: 768px) {
      top: 138px;
    }
    @media screen and (max-width: 720px) {
      top: 122px;
    }
  }
  &.errors__phone {
    top: 200px;
    @media screen and (max-width: 768px) {
      top: 193px;
    }
    @media screen and (max-width: 720px) {
      top: 178px;
    }
  }
  &.errors__email {
    top: 257px;
    @media screen and (max-width: 768px) {
      top: 249px;
    }
    @media screen and (max-width: 720px) {
      top: 234px;
    }
  }
  &.errors__category {
    top: 313px;
    @media screen and (max-width: 768px) {
      top: 306px;
    }
    @media screen and (max-width: 720px) {
      top: 290px;
    }
  }
}
