.spinner-wrapper {
  display: flex;
  justify-content: center;
}

.spinner {
  display: inline-block;
  position: relative;
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 25px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid $default-color;
    border-color: $default-color transparent $default-color transparent;
    animation: spin 1.2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
